html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  list-style: none;
  font: normal 300 1rem/1.2 "Montserrat", 'Courier New' ;
  font-optical-sizing: auto;
  background-color: black;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 500px) {
    margin: 10vw;
  }

}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

:root{
  --pink: rgb(255, 132, 232);
  --blue: rgb(123, 201, 255);
  --mint: rgb(163, 255, 214);
  --faded: rgba(255, 255, 255, 0.3);
  --priority0: rgb(255, 255, 255);
  --priority1: rgb(249, 216, 81);
  --priority2: rgb(246, 170, 88);
  --priority3: rgb(243, 106, 166);

  --fc-border-color: transparent;
  --fc-today-bg-color: var(--faded);
  --fc-list-event-dot-width: 0px;
  --fc-neutral-bg-color: transparent;
  --fc-list-event-hover-bg-color: transparent
}

/* td {
text-align: center;
} */
/* 
.fc{
  height: fit-content;
} */

.fc-toolbar-chunk{
  /* border: 2px solid fuchsia; */
  background-color: transparent;
}

.fc-toolbar{
  
  margin-top: 1rem;
  /* border: 2px solid fuchsia; */
}

.fc-button.fc-n-button{
  background-color: transparent;
  border: none;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fc-button.fc-p-button{
  background-color: transparent;
  border: none;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fc-listViewButton-button.fc-button{
  /* background-color: var(--faded); */
  background-color: transparent;
  border: none;
  height: 1rem;
  margin-left: -0.5rem;
  width: fit-content;
  display: flex;
  align-items: center;
  border-radius: 0;
  &:hover{
    border: none;
    outline: none;
    color: black;
    background-color: white;
  }
}

.fc-addEventButton-button.fc-button{
  background-color: var(--faded);
  border-radius: 0;
  border: none;
  height: 1rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    border: none;
    outline: none;
    color: black;
    background-color: white;
  }
}

.fc-toolbar-title{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.fc-daygrid-day-frame{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid aqua; */
  height: 20%;
}

/* .fc.fc-list-empty{
  /* border-radius: 15px; 
  background-color: black;
} */

.fc-listMonth-view.fc-list.fc-view{
  margin-top: 1rem;
}


.fc-col-header-cell{
  font-weight: 400;
  background-color: var(--faded);
  
}

.fc-list-day{
  display: none;
}

.fc-list-event{
  display: flex;
  justify-content: space-between;
}

.fc-list-event-graphic{
  display: none;
}

.fc .fc-list-day-cushion, .fc .fc-list-table td{
  padding: 0.5rem 0
}