html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  list-style: none;
  font: normal 300 1rem/1.2 "Montserrat", 'Courier New' ;
  font-optical-sizing: auto;
  background-color: black;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;

  @media (max-width: 500px) {
    margin: 10vw;
  }


}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

:root{
  --pink: rgb(255, 132, 232);
  --purple: rgb(180, 118, 255);
  --blue: rgb(123, 201, 255);
  --mint: rgb(163, 255, 214);
  --faded: rgba(255, 255, 255, 0.3);
  --priority0: rgb(255, 255, 255);
  --priority1: rgb(249, 216, 81);
  --priority2: rgb(246, 170, 88);
  --priority3: rgb(243, 106, 166);

  --fc-border-color: transparent;
  --fc-today-bg-color: var(--faded);
  --fc-list-event-dot-width: 0px;
  --fc-neutral-bg-color: transparent;
  --fc-list-event-hover-bg-color: transparent
}



.fc-toolbar-chunk{
  /* border: 2px solid fuchsia; */
  background-color: transparent;
}

.fc-toolbar{
  
  margin-top: 1rem;
  /* border: 2px solid fuchsia; */
}

.fc-button.fc-n-button{
  background-color: transparent;
  border: none;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fc-button.fc-p-button{
  background-color: transparent;
  border: none;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fc-listViewButton-button.fc-button{
  /* background-color: var(--faded); */
  background-color: transparent;
  border: none;
  height: 1rem;
  margin-left: -0.5rem;
  width: fit-content;
  display: flex;
  align-items: center;
  border-radius: 0;
  &:hover{
    border: none;
    outline: none;
    color: black;
    background-color: white;
  }
}

.fc-addEventButton-button.fc-button{
  background-color: var(--faded);
  border-radius: 0;
  border: none;
  height: 1rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    border: none;
    outline: none;
    color: black;
    background-color: white;
  }
}

.fc-toolbar-title{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.fc-daygrid-day-frame{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid aqua; */
  height: 20%;
}

.fc-displayList-button.fc-button.fc-button-primary{
  background-color: transparent;
  border: none;
  margin-top: -3rem;
  font-size: 1.5rem;
}


.fc-listMonth-view.fc-list.fc-view{
  margin-top: 1rem;
}

.fc-multiMonthYear-view.fc-view{
  background-color: black;
  border: 2px solid fuchsia;
  color: aqua;
}

.fc-col-header-cell{
  font-weight: 400;
  background-color: var(--faded);
  
}

.fc-list-day{
  display: none;
}

.fc-list-event{
  display: flex;
  justify-content: space-between;
  &:hover{
    background-color: var(--faded);
  }
}

.fc-list-event-graphic{
  display: none;
}

.fc .fc-list-day-cushion, .fc .fc-list-table td{
  padding: 0.5rem 0
}

#JANUARY{
  &:hover{
    color: var(--);
  }
  
  &:active{
    color: var(--);
  }
}

#JANUARY{
  &:hover{
    color: var(--purple);
  }
  
  &:active{
    color: var(--purple);
  }
}
#FEBRUARY{
  &:hover{
    color: var(--blue);
  }
  
  &:active{
    color: var(--blue);
  }
}
#MARCH{
  &:hover{
    color: var(--mint);
  }
  
  &:active{
    color: var(--mint);
  }
}
#APRIL{
  &:hover{
    color: var(--priority1);
  }
  
  &:active{
    color: var(--priority1);
  }
}
#MAY{
  &:hover{
    color:var(--priority2)
  }
  
  &:active{
    color:var(--priority2)
  }
}
#JUNE{
  &:hover{
    color:var(--priority3)
  }
  
  &:active{
    color:var(--priority3)
  }
}
#JULY{
  &:hover{
    color:var(--pink)
  }
  
  &:active{
    color:var(--pink)
  }
}
#AUGUST{
  &:hover{
    color:var(--purple)
  }
  
  &:active{
    color:var(--purple)
  }
}
#SEPTEMBER{
  &:hover{
    color:var(--blue)
  }
  
  &:active{
    color:var(--blue)
  }
}
#OCTOBER{
  &:hover{
    color:var(--mint)
  }
  
  &:active{
    color:var(--mint)
  }
}
#NOVEMBER{
  &:hover{
    color:var(--priority1)
  }
  
  &:active{
    color:var(--priority1)
  }
}
#DECEMBER{
  &:hover{
    color:var(--priority2)
  }
  
  &:active{
    color:var(--priority2)
  }
}